<!-- <p>fullstack-intern-developer works!</p> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Présentation</title>
  </head>
  <body>
    <p>
      Je m'appelle <strong>Koceila </strong>et ceci présente mon expérience en
      tant que <strong>fullstack-intern-developer </strong>chez
      <strong>Le16com</strong>. Je remets au gout du jour une application de
      rencontre en utilisant quelques technologies parmi celles citées
      ci-dessous :
    </p>
    <div class="lottie-container">
      <div class="ng-lottie">
        <ng-lottie [options]="options1"></ng-lottie>
      </div>

      <div class="ng-lottie">
        <ng-lottie [options]="options2"></ng-lottie>
      </div>
      <div class="ng-lottie">
        <ng-lottie [options]="options3"></ng-lottie>
      </div>
      <div class="ng-lottie">
        <ng-lottie [options]="options4"></ng-lottie>
      </div>
      <div class="ng-lottie">
        <ng-lottie [options]="options5"></ng-lottie>
      </div>
      <div class="ng-lottie">
        <ng-lottie [options]="options6"></ng-lottie>
      </div>
      <div class="ng-lottie">
        <ng-lottie [options]="options7"></ng-lottie>
      </div>

      <div class="ng-lottie">
        <ng-lottie [options]="options9"></ng-lottie>
      </div>
      <div class="ng-lottie">
        <ng-lottie [options]="options10"></ng-lottie>
      </div>
    </div>
    <div class="screen-container">
      <img class="screen-img" src="assets/screenGMM.jpg" alt="screen" />
      <div class="screen-container-text">
        <p>
          Cette page est la page d'accueil de l'application, j'y reprends les
          éléments de la charte graphique telle qu'imaginée par les designers de
          l'équipe. Le front-end est réalisé avec
          <strong>React-Native</strong> et stylisé avec
          <strong>styled-components</strong>.
        </p>
      </div>
    </div>

    <!---->
    <div class="screen-container">
      <div class="screen-container-text">
        <p>
          Cette page est la page d'accueil de l'application, elle contient un
          slider d'images et un menu de navigation.
        </p>
      </div>
      <img class="screen-img" src="assets/screenGMM.jpg" alt="screen" />
    </div>
    <!---->
    <div class="screen-container">
      <img class="screen-img" src="assets/sayah.jpg" alt="screen" />
      <div class="screen-container-text">
        <p>
          L'application comporte un système de <strong>messagerie</strong> qui
          permet d'envoyer des chats...
        </p>
      </div>
    </div>
    <!---->
    <div class="screen-container">
      <div class="screen-container-text">
        <p>
          ...et d'en recevoir. Le sysème de messagerie est basé sur
          <strong>react-native-gifted-chat</strong> et les messages sont
          restitués en temps réel grâce à <strong>firebase</strong>.
        </p>
      </div>
      <img class="screen-img" src="assets/koceila.jpg" alt="screen" />
    </div>
    <!---->
    <div class="screen-container">
      <div class="ng-android">
        <a
          href="https://drive.google.com/file/d/1KRMAJDLeoMYkxMWAZgWeuaufK5vbyjxF/view?usp=sharing"
        >
          <ng-lottie [options]="options11"></ng-lottie>
        </a>
      </div>
      <div class="screen-container-text">
        <p>
          Envie d'essayer l'application ? Testez-la avant tout le monde en
          appuyant sur le petit robot vert !
        </p>
      </div>
    </div>
  </body>
</html>
