<!-- <p>fullstack-intern-developer works!</p> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Présentation</title>
  </head>
  <body>
    <p>
      Je m'appelle <strong>Koceila </strong>et ceci présente mon expérience en
      tant que <strong>fullstack-intern-developer</strong>chez
      <strong>Le16com</strong>.
    </p>
    <div class="lottie-container">
      <div class="ng-lottie">
        <ng-lottie [options]="options1"></ng-lottie>
      </div>

      <div class="ng-lottie">
        <ng-lottie [options]="options2"></ng-lottie>
      </div>
      <div class="ng-lottie">
        <ng-lottie [options]="options3"></ng-lottie>
      </div>
      <div class="ng-lottie">
        <ng-lottie [options]="options4"></ng-lottie>
      </div>
      <div class="ng-lottie">
        <ng-lottie [options]="options5"></ng-lottie>
      </div>
      <div class="ng-lottie">
        <ng-lottie [options]="options6"></ng-lottie>
      </div>
      <div class="ng-lottie">
        <ng-lottie [options]="options7"></ng-lottie>
      </div>

      <div class="ng-lottie">
        <ng-lottie [options]="options9"></ng-lottie>
      </div>
    </div>
  </body>
</html>
