.ng-lottie {
  width: 100px;
  height: 100px;
  align-items: center;
}

.lottie-container {
  display: flex;
}

.screen-container {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  height: max-content;
}
.screen-container:hover {
  background-color: #f5f0bb;
}

.screen-img {
  width: 15%;
  height: 50%;
  object-fit: cover;
  border-radius: 5px;
}

.screen-container-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 70%;
  font-size: 20px;
}

.ng-android {
  width: 300px;
  height: 300px;
  align-items: center;
}
