<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Présentation</title>
  </head>
  <body>
    <p>
      Le développement web n'est pas mon seul centre d'interet. Je suis aussi un
      passionné d'aviation. Tous mes loisirs orbitent de près ou de loin autour
      de l'aviation. <br />

      <br />
    </p>
    <div class="screen-container">
      <div class="screen-container-text">
        <div class="img-container">
          <img class="img" src="assets/flying.jpg" alt="cessna" />
          <img class="img" src="assets/me_cessna.jpg" alt="cessna" />
        </div>
        <p>
          Grand amateur de simulation de vol sur ordinateur, j'ai longtemps
          étudié les aspects physiques et techniques de l'aviation en lisant les
          documentations techniques des avions de lignes que je trouvais sur
          internet. <br />
          Cet amour pour l'aviation combiné à ma passion pour l'informatique m'a
          poussé à me lancer dans le développement d'un petit outil qui permet
          de calculer les performances au décollage d'un avion. <br />
          J'ai commencé par ne prendre en compte que les paramètres principaux
          comme le cap de la piste, la direction et la force du vent. <br />
          Plus tard, je compte l'améliorer pour qu"il prenne en compte d'autres
          paramètres comme la température, la pression atmosphérique, l'altitude
          de l'aéroport, le type de l'avion etc... <br />
        </p>
      </div>
    </div>

    <!---->

    <div class="gif-container">
      <img class="gif" src="assets/TOtest.gif" alt="avion" />
    </div>
  </body>
</html>
