<p>
  Bonjour, Je m'appelle <strong>Koceila </strong> voici le test technique
  demandé dans le cadre de ma candidature en tant qu'alternant chez
  <strong>Suez</strong>.
</p>
<div class="intro-div">
  <div class="ng-lottie">
    <ng-lottie [options]="options1"></ng-lottie>
  </div>
  <div class="lottie-stacks">
    <p>Mes stacks favorites sont :</p>
    <div class="stack-container">
      <div class="stack">
        <ng-lottie [options]="options2"></ng-lottie>
      </div>
      <div class="stack">
        <div class="stack">
          <ng-lottie [options]="options6"></ng-lottie>
        </div>
      </div>
      <div class="stack">
        <ng-lottie [options]="options3"></ng-lottie>
      </div>
      <div class="stack">
        <ng-lottie [options]="options5"></ng-lottie>
      </div>
    </div>
    <div class="stack-container">
      <div class="stack">
        <ng-lottie [options]="options2"></ng-lottie>
      </div>
      <div class="stack">
        <div class="stack">
          <ng-lottie [options]="options6"></ng-lottie>
        </div>
      </div>
      <div class="stack">
        <ng-lottie [options]="options7"></ng-lottie>
      </div>
      <div class="stack">
        <ng-lottie [options]="options5"></ng-lottie>
      </div>
    </div>
  </div>
</div>
