<app-header></app-header>
<div class="app">
  <header>
    <section>
      <h1 class="cursive">Koceila ARHAB</h1>
    </section>
    <nav>
      <h2>Menu</h2>
      <ul>
        <li><a routerLink="/">Intro</a></li>
        <!-- <li><a routerLink="/">Home</a></li> -->
        <li>
          <a routerLink="/fullstack-intern-developer"
            >fullstack-intern-developer</a
          >
        </li>
        <li><a routerLink="/pilote">Pilote privé</a></li>
        <li><a routerLink="/movies">Movies</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="movies-container">
      <router-outlet></router-outlet>
    </div>
  </main>

  <body></body>
</div>
