<app-header></app-header>
<div class="app">
  <header>
    <section>
      <h1>SUEZZZ</h1>
    </section>
    <nav>
      <h2>Menu</h2>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li>
          <a routerLink="/fullstack-intern-developer"
            >fullstack-intern-developer</a
          >
        </li>
        <li><a routerLink="/pilote">Pilote</a></li>
        <li><a routerLink="/movies">Movies</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- <h4>Routes Result</h4> -->
    <router-outlet></router-outlet>
  </main>
</div>
