.movieContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 800px;
  height: 150px;
}

.movie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
}

.movie:hover {
  background-color: #f5f0bb;
}

.movieImage {
  margin-right: 10px;
}

.movieInfo {
  flex-grow: 1;
}

.movieInfo h3 {
  margin: 0;
  font-size: 18px;
}

.movieInfo p {
  margin: 5px 0;
}

.plus-btn {
  background-color: #db005b;
  border: 1px solid #db005b;
  border-radius: 1px;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.plus-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
